[Desktop Entry]
Name=trolCommander
Comment=trolCommander
Type=Application
Terminal=false
X-GNOME-Autostart-enabled=false
Categories=Other;

Icon=~/.icons/trol.png

# Exec=java -jar /home/.../launcher.jar
Exec="$HOME/soft/trol/trolcommander.sh"

StartupWMClass=trolCommander
