[Desktop Entry]
Name[en_US]=Custom Command
Comment[en_US]=xdotool search --onlyvisible --classname --sync TeamViewer windowminimize
Exec=xdotool search --onlyvisible --classname --sync TeamViewer windowminimize
Icon=application-default-icon
X-GNOME-Autostart-enabled=true
Type=Application
